# ========================
# ENV & SECRETS
# ========================
.env
.env.*

# ========================
# VIRTUAL ENV
# ========================
venv/
backend/venv/
fyp_env

# ========================
# PYTHON CACHE
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# FASTAPI / UVICORN
# ========================
*.log

# ========================
# IDE / EDITOR
# ========================
.vscode/
.idea/

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db
